// Buttons

.button, button {
  display:block;
  max-width:100%;
  @include border-radius(0);
  font-weight: 600;
  font-size: 14px;
  margin: 20px auto;
  padding: 18px;
  width:188px;
  font-family: $lato;
  text-align:center;
  text-transform:uppercase;
  &:hover, &:focus { outline: none; }
  &.primary {
    border: none;
    @include border-radius(0);
    background-color: $primary;
    color: $white;
    &:hover, &:focus {
      border-color: $primary;
      color: #fff;
      background-color: lighten($primary, 5%);
    }
  }
  &.open {
    border: 1px solid $white;
    background-color: transparent;
    color: $white;
    padding:15px 12px;
    img {
      display:block;
      width:15px;
    }
    &:hover, &:focus {
      background-color: lighten($primary, 5%);
      color: $white;
    }
    &.open-blue {
      border-color:$primary;
      color:$primary;
      &:hover {
        color:$white;
      }
    }
  }
  @include small {
    font-size: 12px;
  }
}
