// Heros

.hero {
  background-color:$darkGray;
  text-align: center;
  .image-block {
    background-image:url('../img/hero-left.jpg');
  }
  .text-block {
    padding:140px 30px;
    h2 {
      color:$white;
      font-size:24px;
      max-width:360px;
      margin:0 auto 10px auto;
    }
    p {
      color:$white;
      font-size:18px;
      font-weight:300;
    }
  }
}