// Modules

.module {
  padding: 70px 0;
  position: relative;
  &--white { background-color: $white; }
  &--gray {
    background:$bgGray;
  }
  @include small {
    padding: 25px 5px;
  }
 }

 // Theme

 // Video Bar

 .video-bar {
 	background:$primary;
 	padding:30px;
 	h3 {
 		color:$white;
 		font-size:20px;
 		font-weight:700;
 		margin-bottom:0;
 	}
 	p {
 		color:$white;
 		margin-bottom:0;
 		font-weight:300;
 		font-size:20px;
 	}
 }

 .callouts {
 	text-align:center;
 	div {
 		img {
 			display:block;
 			max-height:50px;
 			margin:0 auto 20px auto;
 		}
 		h3 {
 			max-width:306px;
 			margin:0 auto 20px auto;
 		}
 	}
 	.center-callout {
 		position:relative;
 		&:before {
 			content:"";
 			position:absolute;
 			top:30px;
 			left:0;
 			height:160px;
 			width:1px;
 			background:$borderGray;
 		}
 		&:after {
 			content:"";
 			position:absolute;
 			top:30px;
 			right:0;
 			height:160px;
 			width:1px;
 			background:$borderGray;
 		}
 	}
 }

 // BLOG

 .blog {
	 .row {
	 	max-width:1018px;
	 }
 }

 .blog-list {
 	max-width:610px;
 	margin:0 auto;
 	li {
 		margin-bottom:70px;
 		background:$lightGray;
		.blog-description {
			padding:40px;
		}
		h3 {
			font-size:20px;
			margin-bottom:10px;
			text-transform:uppercase;
		}
		small {
			display:block;
			margin-bottom:24px;
			font-size:12px;
			text-transform:uppercase;
		}
		p {
			margin-bottom:60px;
		}
		.button {
			margin:0;
		}
		&:last-child {
			margin-bottom:0;
		}
 	}
 }

 .blog-nav {
 	padding:30px 20px;
 	background:$lightGray;
 	h4 {
 		margin-bottom:15px;
 		font-size:16px;
 		text-transform:uppercase;
 	}
 	ul {
 		margin-bottom:40px;
 		li {
 			margin-bottom:15px;
 			font-size:14px;
 			a {
 				&:hover {
 					color:$primary;
 				}
 			}
 			&:last-child {
 				margin-bottom:0;
 			}
 		}
 	}
 	#search {
 		margin-bottom:30px;
 	}
 }

 