// Modules

.module {
  padding: 70px 0;
  position: relative;
  &--white { background-color: $white; }
  &--gray {
    background:$bgGray;
  }
  @include small {
    padding: 25px 5px;
  }
 }

 // Theme

 // Video Bar

 .video-bar {
 	background:$primary;
 	padding:30px;
 	h3 {
 		color:$white;
 		font-size:20px;
 		font-weight:700;
 		margin-bottom:0;
 	}
 	p {
 		color:$white;
 		margin-bottom:0;
 		font-weight:300;
 		font-size:20px;
 	}
 	.button {
 		margin:6px auto 0 auto;
 		padding:12px 0 14px 0;
 		i {
 			font-size: 22px;
			margin-right: 10px;
    		position: relative;
    		top: 3px;
 		}
 	}
 }

 .callouts {
 	text-align:center;
 	div {
 		img {
 			display:block;
 			max-height:50px;
 			margin:0 auto 20px auto;
 		}
 		h3 {
 			max-width:306px;
 			margin:0 auto 20px auto;
 		}
 	}
 	.center-callout {
 		position:relative;
 		&:before {
 			content:"";
 			position:absolute;
 			top:30px;
 			left:0;
 			height:160px;
 			width:1px;
 			background:$borderGray;
 		}
 		&:after {
 			content:"";
 			position:absolute;
 			top:30px;
 			right:0;
 			height:160px;
 			width:1px;
 			background:$borderGray;
 		}
 	}
 }

 .what-we-offer {
 	text-align:center;
 	img {
 		display:block;
 		margin:0 auto 40px auto;
 	}
 	h4 {
 		display:block;
 		max-width:300px;
 		margin:0 auto 20px auto;
 	}
 	p {
 		max-width:300px;
 		margin:0 auto;
 	}
 }

 .what-others-say {
 	margin:100px auto 0 auto;
 	text-align:center;
 	max-width:780px;
 	h3 {
 		font-size:20px;
 		margin-bottom:12px;
 	}
 	p {
 		margin-bottom:12px;
 		font-style:italic;
 		&.citation {
 			font-style:normal;
 			font-weight:700;
 		}
 	}
 }

 // BLOG

 .blog {
 	.container {
 		padding:40px 30px;
	 	.inner-container {
	 		padding:30px;
	 		h3 {
				font-size:20px;
				margin-bottom:12px;
				text-transform:uppercase;
			}
	 	}
	 }
	 .row {
	 	max-width:1018px;
	 }
	 h2 {
	 	color:$white;
	 	margin-bottom:40px;
	 }
 }

 .blog-list {
 	max-width:610px;
 	margin:0 auto;
 	li {
 		margin-bottom:70px;
 		background:#fafafa;
		.blog-description {
			padding:40px;
		}
		small {
			display:block;
			margin-bottom:20px;
			font-size:14px;
			text-transform:uppercase;
		}
		p {
			margin-bottom:60px;
		}
		.button {
			margin:0;
		}
		&:last-child {
			margin-bottom:0;
		}
 	}
 }

 .blog-nav {

 	h4 {
 		margin-bottom:20px;
 		font-size:16px;
 		text-transform:uppercase;
 	}
 	ul {
 		margin-bottom:40px;
 		li {
 			margin-bottom:20px;
 			font-size:14px;
 			a {
 				&:hover {
 					color:$primary;
 				}
 			}
 			&:last-child {
 				margin-bottom:0;
 			}
 		}
 	}
 	#search {
 		margin-bottom:30px;
 		.button {
 			margin:0;
 			height:50px;
 		}
 		input {
 			height:50px;
 		}
 	}
 }

 