// Links

a { 
  @include transition(all 0.3s ease);
  color:inherit;
  &:focus, &:visited {
    color:inherit;
  }
  &:hover {
    color:inherit;
  }
}

// Global Heading Properties

h1, h2, h3,
h4, h5, h6 {
  font-family: $sans-serif;
  color: $darkGray;
  font-weight: 700;
  letter-spacing:-.5px;
}

h2 {
  text-align:center;
}

// Breakdown Headings

h1 { @include font-size(30px); }
h2 { @include font-size(24px); }
h3 { @include font-size(20px); }
h4 { @include font-size(18px); }
h5 { @include font-size(15px); }
h6 { @include font-size(14px); }

// Global Paragraph Properties

p, li {
  font-size:15px;
  font-family: $sans-serif;
}

p {
    margin-bottom:20px;
    line-height: 180%;
    color:$textGray;
}

.fancy-text {
	font-family:$fancy-text;
  font-style:italic;
  font-size:22px;
  text-align:center;
}
