// Fonts

$sans-serif: "Gotham SSm A", "Gotham SSm B", sans-serif;
$fancy-text: "adobe-garamond-pro", serif;

// Primary

$primary: #2a2abc;

// Grays

$white: #ffffff;
$textGray: #333333;
$bgGray: #eeeeee;
$borderGray: #dddddd;
$darkGray: #2A2A2A;
$lightGray: #fafafa;
