// Fonts

$sans-serif: "Gotham SSm A", "Gotham SSm B", sans-serif;
$fancy-text: "adobe-garamond-pro", serif;

// Primary

$primary: #0093cf;

// Grays

$white: #ffffff;
$textGray: #6d6e72;
$bgGray: #eeeeee;
$borderGray: #d1d1d1;
$darkGray: #333333;
$lightGray: #f0f0f0;
