// Utility

* { font-family: $sans-serif; }
*:focus { outline: none; }

// HTML & Body

html,
body {
  height: 100%;
  background-color: $white;
}

// Expand Site Wrap

.row {
  max-width: 1060px;
  padding:0;
  &--centered {
    @include vertical-align();
  }
  &.block-row {
    max-width:100%;
  }
}

// Global Styles

.container {
  padding:100px 30px;
  background-image:url('../img/background-gradient.jpg');
  background-size:contain;
  background-position:top center;
  background-repeat:no-repeat;
  background-color:$white;
  .inner-container {
    background:rgba(255,255,255,0.9);
    max-width:940px;
    margin:0 auto;
    padding:80px 60px;
    @include box-shadow(0px 0px 3px 0px #888888);
    h3 {
      font-size:30px;
      margin-bottom:50px;
    }
  }
}

// Header

header {
  width:100%;
  padding:15px 0;
  background-color: $white;
  z-index:9999;
}

.desktop-nav {
  margin-top:8px;
  text-align:center;
  li {
    font-size:14px;
    font-weight:600;
    color:$darkGray;
    text-transform:uppercase;
    margin-right:0;
    a {
      display:block;
      padding:18px;
    }
  }
}

// Footer

.partners {
  padding:30px;
}
footer {
  padding:30px;
  background-color:$darkGray;
  border-bottom:3px solid $primary;
  p, li {
    color:$white;
  }
  .copyright {
    font-size:14px;
    padding:20px 0;
  }
  .list__inline {
    float:right;
    li {
      float:left;
      display:block;
      padding:7.5px;
      margin:0;
      font-size:22px;
      i {
        position:relative;
        top:10px;
      }
    }
  }
}

.home-footer .partners {
  background:#eee;
}

// Images

img {
	display:block;
	max-width:100%;
  max-height:100%;
}

// Hide Mobile-only

.small-glass {
  display:none;
}

#mobile-menu {
  display:none;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:120px 40px;
  background:$darkGray;
  z-index:999998;
  a {
    display:block;
    padding:10px;
    text-align:center;
    font-weight:700;
    font-size:18px;
    text-transform:uppercase;
    color:$white;
  }
}

#menu-trigger {
  display:none;
  position: fixed;
  top: 0;
  right: 0;
  padding: 2px 10px;
  margin:10px;
  border-radius:3px;
  background:$darkGray;
  font-size: 20px;
  z-index:999999;
  color:$white;
}
