@media only screen 
and (max-width:960px) {
	.desktop-nav {
		li a {
			padding:7.5px;
		}
	}
}

@media only screen 
and (max-width:740px) {
	.desktop-nav {
		text-align:right;
	}
	.container .inner-container {
		padding:60px 30px;
	}
	.what-we-offer h4 {
		font-size:16px;
	}
	footer .column, footer .columns {
		display:block;
		width:100%;
		float:none;
		text-align:center;
	}
	footer .list__inline {
	    text-align: center;
    	float: none;
    	display: block;
    	li {
    		float:none;
    		display:inline-block;
    		i {
    			top:-20px;
    		}
    	}
	}
	.blog .container .inner-container {
		padding:15px;
	}
	.blog-list li .blog-description {
		padding:25px;
	}
}

@media only screen 
and (max-width:640px) {
	#menu-trigger {
		display:block;
	}
	.desktop-nav {
		display:none;
	}
	.video-bar {
		text-align:center;
		p {
			margin-bottom:20px;
		}
	}
	.what-we-offer div {
		margin-bottom:40px;
		h4 {
			font-size:20px;
		}
	}
	.partners img {
		margin:0 auto;
	}
	.blog-nav #search .button {
		margin:0 auto;
		width:100%;
	}
}